{% extends 'AppBundle::main.html.twig' %}

{% block title %}Football Manager!!!{% endblock %}

    {% block content %}
        <div class="content home-page">
            <div class="container">
                <h2 id="title">Евро-2016. Отбор.</h2>
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="title-table">Евро-2016. Отбор. Группа A</h4>
                        <table>
                            <tr>
                                <th></th>
                                <th>И</th>
                                <th>В</th>
                                <th>Н</th>
                                <th>П</th>
                                <th>З</th>
                                <th>П</th>
                                <th>О</th>
                            </tr>
                            {% for team in teams %}
                                <tr>
                                    <td>
                                        <a href="{{ path('team', {'id': team.id}) }}">
                                            <i class="flag country{{ team.country.id }}"></i>{{ team.country.name }}
                                        </a>
                                    </td>
                                    <td>10</td>
                                    <td>{{ random(10) }}</td>
                                    <td>{{ random(10) }}</td>
                                    <td>{{ random(10) }}</td>
                                    <td>{{ random(30) }}</td>
                                    <td>{{ random(30) }}</td>
                                    <td>{{ random(30) }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

    {% endblock content %}


